/*#Zones{*/
/*         color: blue;*/
/*         display: flex;*/
/*         flex-direction: column;*/
/*         flex-wrap: wrap;*/
/*         align-items: center;*/
/*         width: 100%;*/
/*}*/

#Zone {
    color: blue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-color: blueviolet;
    border: 2px solid midnightblue;
    /*height: auto;*/
    margin-bottom: 5px;
    background-color: lightgrey;
    /*width: 100%;*/
}


h2 {
    align-self: center;
}