#ZoneCard {
    display: flex;
    flex-direction: row;
    width: auto;
    border-color: blueviolet;
    border: 1px solid midnightblue;
    margin: 1em;
    padding: 1em;
}

#divAir {
    color: blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-color: black;
    border: 1px solid midnightblue;
    background-color: lightgrey;
}

#divOth {
    color: blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-color: black;
    border: 3px solid midnightblue;
    margin-bottom: 5px;
    background-color: lightgrey;
}


.imgIcon {
    width: 50px;
    height: 50px;
}

/* .Card{
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    width: 30%;
    margin: 1em;
    padding: 1em;
}

.Card p{
  width: 30%;
} */