/*.icone{*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 25%;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    font-size: 18px;*/
/*}*/

.img{
    width: 100px;
    height: 100px;
}

.tblHome{
    width: 100%;
}

.firstdiv{
    width: 100%;
}

.bmsdiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}