.divMain{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainTable{
    margin-outside: 20px;
}

/* div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
} */